.panel.with-nav-tabs .panel-heading{
    padding:5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom:none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom:-1px;
}

/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus{
    color:#fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus{
    background-color:#3071a9;
    border-color:transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus{
    color:#428bca;
    background-color:#fff;
    border-color:#428bca;
    border-bottom-color:transparent;
}

/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus{
    color:#3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus{
    background-color:#d6e9c6;
    border-color:transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus{
    color:#3c763d;
    background-color:#fff;
    border-color:#d6e9c6;
    border-bottom-color:transparent;
}