<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="container">
    <div class="page-header">
        <h1>Panels with nav tabs</h1>
    </div>

    <div class="row">

        <!-- PANEL SUCCESS -->
        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-success">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#s-nombre" data-toggle="tab">Nombre</a></li>
                        <li><a href="#s-edad" data-toggle="tab">Edad</a></li>
                        <li><a href="#s-comida" data-toggle="tab">Comida fav</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">Más <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#s-carro" data-toggle="tab">Carro</a></li>
                                <li><a href="#s-marca" data-toggle="tab">Marca fav</a></li>
								<li><a href="#s-cancion" data-toggle="tab">Cancion fav</a></li>
								<li><a href="#s-artista" data-toggle="tab">Artista fav</a></li>
								<li><a href="#s-promedio" data-toggle="tab">Promedio</a></li>
								<li><a href="#s-materia" data-toggle="tab">Materia fav</a></li>
								<li><a href="#s-empleo" data-toggle="tab">Cuenta con empleo</a></li>
								<li><a href="#s-hijos" data-toggle="tab">Tiene hijos</a></li>
								<li><a href="#s-estudia" data-toggle="tab">Estudia</a></li>
								<li><a href="#s-asi" data-toggle="tab">Asi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="s-nombre">Omar</div>
                        <div class="tab-pane fade" id="s-edad">20 años</div>
                        <div class="tab-pane fade" id="s-comida">Alitas</div>
                        <div class="tab-pane fade" id="s-carro">Ninguno ;(</div>
                        <div class="tab-pane fade" id="s-marca">Apple</div>
						<div class="tab-pane fade" id="s-cancion">Possibly Maybe</div>
						<div class="tab-pane fade" id="s-artista">Rosalia</div>
						<div class="tab-pane fade" id="s-promedio">9.2</div>
						<div class="tab-pane fade" id="s-materia">Calculo</div>
						<div class="tab-pane fade" id="s-empleo">Si</div>
						<div class="tab-pane fade" id="s-hijos">No</div>
						<div class="tab-pane fade" id="s-estudia">Si</div>
						<div class="tab-pane fade" id="s-asi">Foryu</div>
                    </div>
                </div>
            </div>
        </div>

		<div class="col-md-6">
		            <div class="panel with-nav-tabs panel-danger">
		                <div class="panel-heading">
		                        <ul class="nav nav-tabs">
		                            <li class="active"><a href="#tab1danger" data-toggle="tab">Nombre</a></li>
		                            <li><a href="#tab2danger" data-toggle="tab">Edad</a></li>
		                            <li><a href="#tab3danger" data-toggle="tab">Comida Fav</a></li>
		                            <li class="dropdown">
		                                <a href="#" data-toggle="dropdown">Más <span class="caret"></span></a>
		                                <ul class="dropdown-menu" role="menu">
		                                    <li><a href="#tab4danger" data-toggle="tab">Carro</a></li>
		                                    <li><a href="#tab5danger" data-toggle="tab">Marca fav</a></li>
											<li><a href="#tab6danger" data-toggle="tab">Cancion fav</a></li>
											<li><a href="#tab7danger" data-toggle="tab">Artista fav</a></li>
											<li><a href="#tab8danger" data-toggle="tab">Promedio</a></li>
											<li><a href="#tab9danger" data-toggle="tab">Materia fav</a></li>
											<li><a href="#tab10danger" data-toggle="tab">Cuenta con empleo</a></li>
											<li><a href="#tab11danger" data-toggle="tab">Tiene hijos</a></li>
											<li><a href="#tab12danger" data-toggle="tab">Estudia</a></li>
											<li><a href="#tab13danger" data-toggle="tab">Asi</a></li>
											
		                                </ul>
		                            </li>
		                        </ul>
		                </div>
		                <div class="panel-body">
		                    <div class="tab-content">
		                        <div class="tab-pane fade in active" id="tab1danger">Omar</div>
		                        <div class="tab-pane fade" id="tab2danger">20 años</div>
		                        <div class="tab-pane fade" id="tab3danger">Alitas</div>
		                        <div class="tab-pane fade" id="tab4danger">Ninguno</div>
		                        <div class="tab-pane fade" id="tab5danger">Apple</div>
								<div class="tab-pane fade" id="tab6danger">Possibly Maybe</div>
								<div class="tab-pane fade" id="tab7danger">Rosalia</div>
								<div class="tab-pane fade" id="tab8danger">9.2</div>
						        <div class="tab-pane fade" id="tab9danger">Calculo</div>
								<div class="tab-pane fade" id="tab10danger">Si</div>
								<div class="tab-pane fade" id="tab11danger">No</div>
								<div class="tab-pane fade" id="tab12danger">Si</div>
							 <div class="tab-pane fade" id="tab13danger">Foryu</div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		<br/>