<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tablas</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1 th:text="${titulo}"></h1>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="panel with-nav-tabs"
                 th:classappend="${mostrarRoja} ? ' panel-danger' : ' panel-success'">

                <div class="panel-heading">
                    <ul class="nav nav-tabs">

                        <!-- Tabs normales -->
                        <li th:each="t,stat : ${tabs}"
                            th:if="${t.dropdown == 'false'}"
                            th:classappend="${stat.index==0} ? ' active'">

                            <a th:href="'#tab-'+${t.id}"
                               data-toggle="tab"
                               th:text="${t.categoria}">
                            </a>
                        </li>

                        <!-- Dropdown -->
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown">
                                Más <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li th:each="t : ${tabs}"
                                    th:if="${t.dropdown == 'true'}">

                                    <a th:href="'#tab-'+${t.id}"
                                       data-toggle="tab"
                                       th:text="${t.categoria}">
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="panel-body">
                    <div class="tab-content">

                        <div th:each="t,stat : ${tabs}"
                             class="tab-pane fade"
                             th:classappend="${stat.index==0} ? ' in active'"
                             th:id="'tab-'+${t.id}"
                             th:text="${t.valor}">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>